extends layout

block content
  h1=title
  p Welcome to #{title} #{authenticated}. In the future there will be images and snippets of text here. Feel free to add them yourself in the github repo.'
  if authenticated
    p #{email} and username: #{username}